<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @nivelacademico.descripcion %>
</p>

<%= link_to 'Edit', edit_nivelacademico_path(@nivelacademico) %> |
<%= link_to 'Back', nivelacademicos_path %>
