<header>
  		<nav class="be-blue white large-padding">
  			<ul class="row center-md middle-xs">
  				<div class="col-md">
  					<h1 class="no-margin" id="logo">Unae Bussines</h1> 
  				</div>
            <% if user_signed_in? %>
            <div class="col-md">
              <%= link_to "Crear Usuario", new_user_registration_path %>
            </div>

            <div class="col-md">
              <%= current_user.email  %>
            </div>
          <% end %>

          <div class="col-md">
            <% if user_signed_in? %>
                <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
              
            <% else %>
                </div>

               <div class="col-md">
                  <%= link_to "Iniciar Sesión", new_user_session_path  %>
               </div>

          <% end %>
  				
  			</ul>  			
  		</nav>


  	</header>