<div class="row center-xs">
  <div class="col-xs-12 col-md-8">
	     <div class="box text-left"> 		
  			<div class="col-md-8">
  				<p>Oferta de empleo:</p>
   	           <form>
      	          <input class="form-control" type="search" placeholder="Buscar empleo" aria-label="Buscar"><br>
                  <div class="box text-right">
              <button type="button" class="btn white">Buscar</button>
            </form><br><hr>
        </div>
        <p>Oferta de empleo por Area:</p>
            <button>Comercio-Mercadeo-Ventas</button><br>
            <button>Administración de Empresas</button><br>
            <button>Construcción-Arquitectura</button><br>
            <button>Turismo-Hotelería-Gastronomía</button><br>
            <button>Analisis de Sistemas-Técnicos en Informática</button><br>
            <hr>
      </div>
  </div>
</div>

