<div class="row center-xs">
  <div class="col-xs-12 col-md-12">
	     <div class="box text-right"> 
	     	<h1>Somos Unae Busines</h1>
			<p>Te ayudamos a encontrar el puesto laboral que buscas..!</p>
		</div>
	</div>
</div>

